.projects {
    text-align: center;

    h1 {
        font-size: 3em;
        margin-top: 50px;

    }

    h2 {
        font-size: 2em;
        font-weight: 400;
        margin-top: 30px;
    }

    .blog-container {
        display: flex;
        flex-direction: row;
        margin-top: 80px;

        .articles {
            display: flex;
            flex-direction: column;
            flex-grow: 7;
            height: max-content;

            [class^='article'] {
                margin: 0 20px 40px;
                box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
                padding: 10px 20px;
                border-radius: 20px;
                display: flex;

                @media (max-width: 576px) {
                    margin: 0 0 20px;
                    padding: 10px 5px;
                }

                a {
                    margin-right: 20px;
                    align-self: center;

                    .image {
                        height: 150px;
                        width: 150px;
                        border-radius: 10px;
                        border: 2px solid aliceblue;

                        @media (max-width: 576px) {
                            height: 100px;
                            width: 100px;
                        }
                    }
                }

                h2 {
                    text-decoration: underline 1px solid aliceblue;
                    text-underline-offset: 4px;

                    @media (max-width: 576px) {
                        font-size: 1.3em;
                    }
                }

            }

            * {

                text-align: left;
            }
        }

        .articles-links {
            display: flex;
            flex-grow: 1.5;
            min-width: 20%;
            height: max-content;
            padding: 20px;
            text-align: right;
            // background: radial-gradient((at top left, rgba(146, 43, 225, 1) 0%, rgba(43, 9, 107, 1)100%));
            // background: transparent;
            background-repeat: no-repeat;
            border-radius: 20px;
            position: sticky;
            top: 40px;
            border-top: 1px solid #eef7ff7a;
            border-left: 1px solid #eef7ff7a;

            @media (max-width: 1000px) {
                position: fixed;
                top: 15vh;
                right: 100%;
                // background-color: rgb(169, 169, 169, 0.9);
                background: radial-gradient((at top left, rgba(146, 43, 225, 1) 0%, rgba(43, 9, 107, 1)100%));

                &.active {
                    right: 0;
                }
            }

            svg {
                position: fixed;
                right: 0;
                top: 15vh;
                font-size: 44px;
                border: 1px solid #eef7ff7a;
                background-color: rgba(146, 43, 225, 1);
                cursor: pointer;

                @media (min-width: 1000px) {
                    display: none;
                }
            }

            ul {

                width: 100%;
                list-style: disc;

                li {
                    text-align: left;
                    list-style: numbers;
                    list-style-position: inside;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    cursor: pointer;

                    &:hover,
                    &:hover a {
                        color: pink;
                    }

                    @media (max-width: 576px) {
                        font-size: 12px;
                        letter-spacing: normal;

                    }

                }
            }
        }
    }
}