.details {
    text-align: center;

    h2 {
        font-size: 3em;
        margin-top: 50px;

    }

    h3 {
        font-size: 2em;
        font-weight: 400;
        margin-top: 30px;
    }

    .featured {
        margin: 40px 0;
    }
}